$primary-color-200: #111341;
$primary-color-300: #11102e;
$primary-color: #04081a;

$accent-color-300: rgba(222, 0, 48);
$accent-color: #de0030;
$accent-color-400: rgb(117, 20, 20);

$gray-200: #e8e6ff;
$gray-400: #e8e6ff99;
$gray-500: rgba(232, 230, 255, 0.6);
$gray-600: #6a6886;
$gray-700: rgba(255, 255, 255, 0.1);
$gray-750: rgba(255, 255, 255, 0.2);
$gray-760: rgba(232, 230, 255, 0.1);

$primary-sans-serif: 'Sora', system-ui, sans-serif;

$body-font-size: 1rem;
$body-line-height: 1.5;
$body-font-weight: 400;

$general-transition: 200ms ease-out;

$border-radius: 0.625rem;
