@font-face {
    font-family: 'Sora';
    src: local('Sora'), url('../../assets/fonts/Sora-Light.woff2');
    font-weight: 300;
    font-display: optional;
}

@font-face {
    font-family: 'Sora';
    src: local('Sora'), url('../../assets/fonts/Sora-Regular.woff2');
    font-weight: 400;
    font-display: optional;
}

::selection {
    background-color: var(--bs-accent);
}

.material-icons {
    font-family: 'Material Icons Outlined';
}

ul,
ol {
    li:not(:last-child) {
        margin-bottom: var(--spacer-1);
    }
}

p {
    font-weight: 300;
}
